{% load static %}
<nav class="navbar navbar-vertical navbar-expand-lg" id="navbarVertical">
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content">
      <ul class="navbar-nav flex-column" id="navbarVerticalNav">
        <!-- Dashboard Link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <span class="nav-link-icon" data-feather="pie-chart"></span>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-project-management"
            role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-project-management">
            <div class="d-flex align-items-center">
              <div class="dropdown-indicator-icon-wrapper"><span
                  class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span
                  data-feather="clipboard"></span></span><span class="nav-link-text">Farm</span>
            </div>
          </a>
          <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-project-management">
              <li class="nav-item"><a class="nav-link" href="{% url 'room_list' %}">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Pig Rooms</span></div>
                </a><!-- more inner pages-->
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'sow_list' %}">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Sows</span></div>
                </a><!-- more inner pages-->
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'piglets' %}">
                  <div class="d-flex align-items-center"><span class="nav-link-text">Piglets</span></div>
                </a><!-- more inner pages-->
              </li>
              
            </ul>
          </div>
        </div><!-- parent pages-->

      </ul>
    </div>
  </div>
  <div class="navbar-vertical-footer">
    <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center">
      <span class="uil uil-left-arrow-to-left fs-8"></span>
      <span class="uil uil-arrow-from-right fs-8"></span>
      <span class="navbar-vertical-footer-text ms-2">Collapsed View</span>
    </button>
  </div>
</nav>